.header {
    height: 10%;
    width: 100%;
    position: relative;
}

#stockInfo {
    position: absolute;
    display: flex;
    align-items:flex-end;
    gap: 5px;
    height: 100%;
    font-size: 30px;
    left: 310px;
}

#stockInfo p {
    margin-bottom: 15px;
}

#stockInfo img {
    margin-bottom: 15px;
    width: 5%;
}

#stockPrice {
    margin-left: 30px;
}

.up {
    color: red;
}
.down {
    color: blue;
}
.neutral {
    color: black;
}
